@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

:root {
    --bg-color: #343434;
    --primary: #FEFAE0;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 16px;
}

body {
    background-color: rgb(243, 243, 243);
    display: flex;
    justify-content: center;
    align-items: center;
}

.guides-container {
    height: 932px;
    width: 430px;
    padding: 0 1.75rem;
    margin-top: 0.5rem;
    background-color: var(--bg-color);

    display: flex;
    flex-direction: column;
    align-items: center;
}

.guide-title-container {
    width: 100%;
    margin-top: 7.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.guide-title {
    color: var(--primary);
    font-size: 4rem;
    font-weight: 400;
    
}

.guide-title.glow {
    position: absolute;
    font-size: calc(4rem + 0.5px);
    filter: blur(2px);
    animation: glow 2s ease-in-out infinite alternate;
}

@keyframes glow {
    from {
        opacity: 0%;
    }
    to {
        opacity: 78%;
    }
}

.css-code-container {
    font-family: 'Inconsolata', monospace;
    
    font-size: 0.9rem;
    color: white;
    min-width: 251px;
    max-height: 188px;
    margin: 1.25rem;
    background-color: #3F3F3F;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgb(0 0 0 / 0.2);
}

.css-code-header {
    width: 100%;
    padding: 1rem 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.css-code-header > div{
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 50%;
}

.css-code-menu-red {
    background-color: #FF5F56;
}

.css-code-menu-yellow {
    background-color: #FFBD2E;
}

.css-code-menu-green {
    background-color: #27C93F;
}

.css-code {
    padding: 0 1rem 1rem;
}

.css-code-selector {
    color: #73A6A9;
}

.css-code-property {
    margin-left: 2rem;
    color: #D3A789;
}

.css-code-property-value {
    color: #B5DDB5;
}

.css-code-bracket, .css-code-semicolon, .css-code-colon {
    color: #ffffff;
}

.flex-items-container {
    width: 100%;
    min-height: 98px;
    margin-top: 1.25rem;
    padding: 0.75rem 0;
    border: 1px dashed var(--primary);
    resize: horizontal;
    overflow: hidden;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.flex-items {
    width: 75px;
    height: 75px;
    border-radius: 5px;
    font-size: 2.25rem;
    background-color: var(--primary);

    display: flex;
    justify-content: center;
    align-items: center;
}