@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
    --bg-color: #343434;
    --primary: #FEFAE0;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 16px;
}

body {
    background-color: rgb(243, 243, 243);
    display: flex;
    justify-content: center;
    align-items: center;
}

.guides-container {
    height: 932px;
    width: 430px;
    margin-top: 0.5rem;
    background-color: var(--bg-color);
}

.guide-title-container {
    width: 100%;
    margin-top: 7.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.guide-title {
    color: var(--primary);
    font-size: 4rem;
    font-weight: 400;
    
}

.guide-title.glow {
    position: absolute;
    filter: blur(2px);
    opacity: 78%;
}